<%- include('../includes/userHead.ejs') %>
<link rel="stylesheet" href="/css/wishlist.css" />

<%- include('../includes/userHeader.ejs') %>

<div class="container">
  <h1 class="page-title">WISHLIST ITEMS</h1>
  <% if (wishlist && wishlist.length > 0) { %> <% wishlist.forEach(item => { %>
  <div class="wishlist">
    <div class="product-container">
      <div class="image-container">
        <a href="/product-details/<%= item._id %>">
          <img
            src="/uploads/<%= item.photos[0].filename %>"
            alt="Product Image" />
        </a>
      </div>
      <div class="product-details">
        <h2 class="product-name"><%= item.name %></h2>
        <p class="product-price">₹<%= item.price.toFixed(2) %></p>
      </div>
    </div>
    <div class="button-container">
      <form
        action="/move-to-cart/<%= item._id %>"
        method="POST"
        class="wishlist-form">
        <input type="hidden" name="productId" value="<%= item._id %>" />
        <button type="submit" class="btn product-btn">ADD TO CART</button>
      </form>
      <form
        action="/wishlist/remove/<%= item._id %>"
        method="POST"
        class="wishlist-form">
        <button type="submit" class="btn product-btn delete-btn">DELETE</button>
      </form>
    </div>
  </div>
  <% }) %> <% } else { %>
  <div class="empty-state">
    <h2>NO ITEMS IN WISHLIST</h2>
    <a href="/products" class="btn product-btn">SHOP NOW</a>
  </div>
  <% } %>
</div>

<%- include('../includes/userFooter.ejs') %> <%-
include('../includes/userScripts.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  // document.querySelectorAll('.add-to-cart-button').forEach(button => {
  //     button.addEventListener('click', async (event) => {
  //         const form = event.target.closest('form');
  //         const formData = new FormData(form);

  //            fetch('/move-to-cart', {
  //                 method: 'POST',
  //                 headers: {
  //                     'Content-Type': 'application/json'
  //                 },
  //                 body: formData
  //             })
  //             .then(response => response.json())
  //             .then(data => {
  //               if (data.success) {
  //                 Swal.fire('Success!', data.message, 'success');
  //               } else {
  //                 console.error('Error adding product to cart:', data.error);
  //               }
  //             })
  //     });
  // });
</script>
<script>
  function setCategory(category) {
    document.getElementById("selectedCategory").value = category;
    document
      .getElementById("categoryDropdown")
      .querySelector(".dropdown-toggle-text").textContent =
      category.charAt(0).toUpperCase() + category.slice(1);
  }
</script>
