<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>userhome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/address.css">
  </head>
<body>
  <header>
    <nav class="navbar">
      <div class="brand-logo">
        <a class="navbar-brand" href="/">
          <img src="/images/test.jpg" alt="Brand Logo" width="50" height="50" class="img-fluid d-inline-block align-text-top">
          <span class="d-inline-block">ShoeZone</span>
        </a>
      </div>
      <div class="search-bar">
        <form action="/search" method="GET">
          <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search for products...">
            <button type="submit" class="input-group-text search-btn">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <div class="dropdown">
          <button class="dropdown-toggle btn dropdown-toggle-split" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="dropdown-toggle-text">All categories</span>
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <% if (categoryList) { %>
            <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
              <li><a class="dropdown-item" href="#" onclick="setCategory('all')">All</a></li>
              <% categoryList.forEach(category => { %>
                <li><a class="dropdown-item" href="#" onclick="setCategory('<%= category.categoryName %>')"><%= category.categoryName %></a></li>
              <% }) %>
            </ul>
          <% } %>
          <input type="hidden" name="category" id="selectedCategory" value="all">
        </div>
        </form>
      </div>
      
      <div class="user-actions">
        <div class="profile-dropdown">
          <a class="profile-dropdown-toggle btn " href="#" role="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
            <div class="profile-dropdown-menu" >
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </div>
        <a href="/cart">
          <i class="fas fa-shopping-cart"></i>
      </a>
      <a href="/wishlist">
        <i class="fas fa-heart"></i>
    </a>
    </div>
    
    </nav>
    <div class="banner">
      <div class="row pt-2 pb-2">
        <div class="col">
          <a href="/">HOME</a>
        </div>
        <% categoryList.forEach(category => { %>
          <div class="col">
            <a href="/<%= category.categoryName %>" class="category-link" id="category-<%= category.categoryName %>" onclick="setCategory('<%= category.categoryName %>')"><%= category.categoryName %></a>
          </div>
      <% }) %>
      </div>
    </div>
 
  </header>
  <main class="main">
    <% if (user) { %>
    <aside class="sidebar">
        <div class="profile-section">
          <div class="avatar">
            <img src="/uploads/<%= user.photo == !null ? user.photo[0].filename  :"../images/avatar.jpg" %>">
          </div>
          <ul class="profile-links">
            <li><a href="/profile">User Profile</a></li>
            <li><a href="/address">Address</a></li>
            <li><a href="/order-history">Order History</a></li>
            <li><a href="/payment-methods">Payment Methods</a></li>
            <li><a href="/change-password">Change Password</a></li>
          </ul>
        </div>
        <% } %>
      </aside>
      <section class="content">
        <% if (addresses.address && addresses.address.length > 0) { %>
          <h2>Address List</h2>
          <div class="address-message">
            <a href="/addresses/add">Add New Address</a>
          </div>
          <% addresses.address.forEach(address => { %>
            <div class="address-list">
              <div class="address-card" data-address-Id="<%= address._id %>" data-is-Default="<%= address.isDefault %>">
                <h3><%= address.name %></h3>
                <p><%= address.houseName %>, <%= address.street %>, <%= address.district %>, <%= address.state %>, <%= address.country %></p>
                <p><%= address.pinCode %></p>
                <% if (address.isDefault) { %>
                  <p style="background-color: #455df8; color: white; width: fit-content; border-radius: 24px; padding: 2px;">Default Address</p>
                <% } else { %>
                  <button class="button" onclick="setDefaultAddress(this)">Set as Default</button>
                <% } %>
                <a href="/address/edit/<%= address.id %>">Edit </a>
                <a href="/address/delete/<%= address.id %>">Delete</a>
              </div>
            </div>
          <% }) %>
        <% } else { %>
            <div class="address-message">
              <h2>"No addresses saved"</h2>
              <a href="/addresses/add">Add address</a>
            </div>
        <% } %>
      </section>
      
      
          
 </main> 

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="footer-heading">About Us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec orci orci, porta nec magna ac, placerat vestibulum ligula. Sed posuere consectetur est at lobortis.</p>
          <a href="#" class="btn btn-outline-light">Learn More</a>
        </div>
        <div class="col-md-4">
          <h3 class="footer-heading">Information</h3>
          <ul class="list-unstyled">
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3 class="footer-heading">Newsletter</h3>
          <p>Subscribe to our newsletter to receive updates on new products and promotions.</p>
          <form action="#" method="POST" class="d-flex">
            <input type="email" class="form-control" placeholder="Enter Email Address">
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <p class="text-center text-muted">© 2024 Brand Name. All Rights Reserved.</p>
        </div>
        <div class="col d-flex justify-content-end">
          <a href="#" class="social-link"><i class="fab fa-facebook"></i>fb</a>
          <a href="#" class="social-link"><i class="fab fa-twitter"></i>tw</a>
          <a href="#" class="social-link"><i class="fab fa-instagram"></i>in</a>
        </div>
      </div>
    </div>
  </footer>
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>

  // Client-side code
function setDefaultAddress(button) {
  const addressCard = button.parentNode;
  const addressId = addressCard.dataset.addressId; 
  const isDefault = addressCard.dataset.isDefault;

  fetch(`/set-default-address/${addressId}`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ addressId,isDefault }) // Send the addressId in the request body
  })
    .then(response => {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error('Failed to set default address');
      }
    })
    .then(data => {
      console.log(data.message);

      // Remove 'default' class from all address cards
      const allAddressCards = document.querySelectorAll('.address-card');
      allAddressCards.forEach(card => {
        card.classList.remove('default');
      });

      // Add 'default' class to the clicked address card
      addressCard.classList.add('default');

      // Hide the "Set as Default" button
      const setDefaultButton = addressCard.querySelector('button');
      setDefaultButton.style.display = 'none';

      // Show the "Default Address" text
      const defaultAddressText = document.createElement('p');
      defaultAddressText.textContent = 'Default Address';
      addressCard.appendChild(defaultAddressText);

      setTimeout(() => {
          window.location.reload();
        }, 0);
    })
    .catch(error => {
      console.error('Error setting default address:', error);
    });
}
  // // Function to set default address
  // function setDefaultAddress(button) {
  //   // Get the parent address card
  //   const addressCard = button.parentNode;
  
  //   // Remove 'default' class from all address cards
  //   const allAddressCards = document.querySelectorAll('.address-card');
  //   allAddressCards.forEach(card => {
  //     card.classList.remove('default');
  //   });

  //   // Add 'default' class to the clicked address card
  //   addressCard.classList.add('default');
  // }
</script>

<script>
  function setCategory(category) {
    document.getElementById('selectedCategory').value = category;
    document.getElementById('categoryDropdown').querySelector('.dropdown-toggle-text').textContent = category.charAt(0).toUpperCase() + category.slice(1);
  }
</script>
</body>
</html>